{% extends 'base.html' %}


{% block title %}
  my invites
{% endblock title %}



{% block content %}
  
  {% if is_empty %}
    <h1>NO invitation hare....</h1>
  {% endif %}
  
  {% for obj in qs %}
    <div class="ui segment ">
      <div class="ui grid">
        <div class="row">
          <div class="three wide column">
            <img class='ui small circular imag' src="{{obj.avatar.url}}" alt="">
          </div>
          <div class="thirteen wide column">
            <h3>{{obj.user}}</h3>
            <p>{{obj.bio}} </p>
            <a href="{% url 'profile_detail_view' obj.slug %}"><button class='ui primary button w-big mb-5'>See profile</button></a>
            <form action="{% url 'accept_invitation' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="profile_pk" value={{obj.pk}}>
              <button class='ui positive basic button w-big mb-5' type="submit"><i class="fa-solid fa-check"></i> Accept invite</button>
            </form>
            <form action="{% url 'reject_invitation' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="profile_pk" value={{obj.pk}}>
              <button class='ui negative basic button w-big mb-5' type="submit"><i class="fa-solid fa-xmark"></i> Reject invite</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
    
{% endblock content %}
  