{% extends 'base.html' %} {% block style %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css"
  integrity="sha512-Z/def5z5u2aR89OuzYcxmDJ0Bnd5V1cKqBEbvLOiUNWdg9PQeXVvXLI90SE4QOHGlfLqUnDNVAYyZi8UwUTmWQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
{% endblock style %} {% block content %}
<div class="container">
  <h1 class="text-center logo my-4">
    <a
      href="{% url 'home_view' %}"
      class="fst-italic text-decoration-none text-capitalize"
      >Account Manager</a
    >
  </h1>
  {% if user.is_authenticated %}
  <div class="text-center">
    <p>You Already Shared With Us</p>
    <p>
      <a class="text-decoration-none btn btn-primary btn-block" href=""
        >logout!!</a
      >
    </p>
  </div>
  {% else %}
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Log In</h3>
          <form method="Post" novalidate>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            {% include 'form.html' %}
            <br />
            <button type="submit" class="btn btn-primary btn-block">
              Log In
            </button>
          </form>
        </div>
        <div class="card-footer text-muted text-center">
          You Have an Account?
          <a class="text-decoration-none" href="{% url 'login' %}">Login</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>

{% endblock content %}
